registry=https://mirrors.tuna.tsinghua.edu.cn/npm/
electron_mirror=https://mirrors.tuna.tsinghua.edu.cn/electron/
electron_builder_binaries_mirror=https://npmmirror.com/mirrors/electron-builder-binaries/
